html {

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


/* ---------------- Main-Grid-Container Grid Area ----------------*/


/* Outer Container Sections */
.Header { grid-area: Header;  background-color: rgba(51,51,51,1.0); color: white;}
.LeftMenu { grid-area: LeftMenu; background-color: rgba(51,51,51,1.0); color: white;}
.Main { grid-area: Main; }
.Footer { grid-area: Footer;}


/* Primary Container for the site block-out*/
.main-grid-container {

    display: grid;
    grid-template-areas: 
        
        'Header Header Header Header Header'
        'LeftMenu Main Main Main Main'
        'LeftMenu Main Main Main Main'
        'LeftMenu Main Main Main Main'
        'Footer Footer Footer Footer Footer'
        
        ;
    
    grid-gap: 3px;
    background-color: rgba(238, 238, 238, 1.0);
    padding: 5px;

}

/* Clean up div settings */
.main-grid-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* ---------------- Content Grid Area ----------------*/

.listing1 {grid-area: listing1;}
.listing2 {grid-area: listing2;}
.listing3 {grid-area: listing3;}
.listing4 {grid-area: listing4;}
.listing5 {grid-area: listing5;}

.content-grid-container {
    display: grid;
    grid-gap: 3px;
    border: 1px solid rgba(205, 205, 205, 1.0);
    grid-template-areas: 
        'listing1'
        'listing2'
        'listing3'
        'listing4'
        'listing5'
        ;



}

/* Clean up div settings */
.content-grid-container > div {
    background-color: rgba(255, 255, 255, 1.0);
    text-align: left;

    /* TODO Clean up padding */
    padding: 20px 0;
    font-size: 30px;
}
    